body {
	background: url("/congruent_outline.png");
}

#images {
	background: rgba(0,0,0,0.2);
	width:80%;
	vertical-align:middle;
 	margin:auto;
 	text-align:center;
	padding:3em 0;
}

#images img {
	width:15%;
	padding:5px;
}

h1 {
	color:rgba(255,255,255,0.6);
	font-family:'Arvo';
	font-weight:700;
	text-align:center;
	font-size:3em;
	margin:1.5em;
}

.image-container {
	display: inline-block;
	margin:auto;
}

